
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

header {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.navItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 18px;
}

a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  font-size: 0.813rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.user {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  align-content: flex-end;
}

.icon {
  margin: auto;
}
